*.pyc
2015/MyMap.txt
2015/MyMap.txt
2022/t
.metals/metals.mv.db
.gitignore
.gitignore
.metals/metals.log
.metals/metals.lock.db
.gitignore
.gitignore
2022/MyMap.txt
.gitignore
2022/t.txt
sbt-launch.jar
.bsp/sbt.json
2023/.DS_Store
.gitignore
2023/input/.DS_Store
project/metals.sbt
project/project/metals.sbt
project/project/project/target/*
project/*
target/*
.metals/*
output/*
2023/output/*
2023/input/*
2022/input/*
2021/input/*
2020/input/*
2015/input/*
.bsp
.idea
scala_aoc_old
.metals
2023/scala
*.txt
2023/python/debug2.txt
2024/.DS_Store
2024/input/.DS_Store
2024/output/.DS_Store
2024/output/day_12
2024/output/day_14
2024/output/day_15
2024/output/day_16
2024/output/day_22
2024/output/day_25
2024/python/.DS_Store
2024/python/startDay.py
2024/scala/.DS_Store
2024/scala/build.sbt
2024/scala/README.md
2024/scala/project/build.properties
2024/scala/project/target/config-classes/$9d96eaaa22ca4ff0079b.cache
2024/scala/project/target/config-classes/$9d96eaaa22ca4ff0079b.class
2024/scala/project/target/config-classes/$9d96eaaa22ca4ff0079b$.class
2024/scala/project/target/config-classes/$e82e4c1c387a3a666172.cache
2024/scala/project/target/config-classes/$e82e4c1c387a3a666172.class
2024/scala/project/target/config-classes/$e82e4c1c387a3a666172$.class
2024/scala/project/target/scala-2.12/sbt-1.0/sync/copy-resource
2024/scala/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
2024/scala/project/target/streams/_global/_global/_global/streams/out
2024/scala/project/target/streams/_global/_global/csrLogger/_global/streams/out
2024/scala/project/target/streams/_global/csrConfiguration/_global/streams/out
2024/scala/project/target/streams/_global/csrProject/_global/streams/out
2024/scala/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
2024/scala/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
2024/scala/project/target/streams/_global/ivyConfiguration/_global/streams/out
2024/scala/project/target/streams/_global/ivySbt/_global/streams/out
2024/scala/project/target/streams/_global/moduleSettings/_global/streams/out
2024/scala/project/target/streams/_global/projectDescriptors/_global/streams/out
2024/scala/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
2024/scala/project/target/streams/_global/update/_global/streams/out
2024/scala/project/target/streams/compile/_global/_global/compileOutputs/previous
2024/scala/project/target/streams/compile/_global/_global/discoveredMainClasses/data
2024/scala/project/target/streams/compile/bspReporter/_global/streams/out
2024/scala/project/target/streams/compile/compile/_global/streams/out
2024/scala/project/target/streams/compile/compileIncremental/_global/streams/export
2024/scala/project/target/streams/compile/compileIncremental/_global/streams/out
2024/scala/project/target/streams/compile/copyResources/_global/streams/out
2024/scala/project/target/streams/compile/dependencyClasspath/_global/streams/export
2024/scala/project/target/streams/compile/exportedProducts/_global/streams/export
2024/scala/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
.gitignore
2024/scala/project/target/streams/compile/incOptions/_global/streams/out
2024/scala/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
2024/scala/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
2024/scala/project/target/streams/compile/managedClasspath/_global/streams/export
2024/scala/project/target/streams/compile/scalacOptions/_global/streams/out
2024/scala/project/target/streams/compile/unmanagedClasspath/_global/streams/export
2024/scala/project/target/streams/compile/unmanagedClasspath/_global/streams/out
2024/scala/project/target/streams/compile/unmanagedJars/_global/streams/export
2024/scala/project/target/streams/runtime/dependencyClasspath/_global/streams/export
2024/scala/project/target/streams/runtime/exportedProducts/_global/streams/export
2024/scala/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
2024/scala/project/target/streams/runtime/fullClasspath/_global/streams/export
2024/scala/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
2024/scala/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
2024/scala/project/target/streams/runtime/managedClasspath/_global/streams/export
2024/scala/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
2024/scala/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
2024/scala/project/target/streams/runtime/unmanagedJars/_global/streams/export
2024/scala/src/.DS_Store
2024/scala/src/main/scala/adventofcode/Day01.scala
2024/scala/src/main/scala/adventofcode/Utils.scala
2024/scala/src/test/scala/MySuite.scala
2024/scala/target/.DS_Store
2024/scala/target/.history3
2024/scala/target/scala-3.3.1/classes/adventofcode/Day01.class
2024/scala/target/scala-3.3.1/classes/adventofcode/Day01.tasty
2024/scala/target/scala-3.3.1/classes/adventofcode/Day01$.class
2024/scala/target/scala-3.3.1/classes/adventofcode/Day01$package.class
2024/scala/target/scala-3.3.1/classes/adventofcode/Day01$package.tasty
2024/scala/target/scala-3.3.1/classes/adventofcode/Day01$package$.class
2024/scala/target/scala-3.3.1/classes/adventofcode/Utils.class
2024/scala/target/scala-3.3.1/classes/adventofcode/Utils.tasty
2024/scala/target/scala-3.3.1/classes/adventofcode/Utils$.class
2024/scala/target/scala-3.3.1/classes/adventofcode/Utils$$anon$1.class
2024/scala/target/scala-3.3.1/update/update_cache_3/inputs
2024/scala/target/scala-3.3.1/update/update_cache_3/output
2024/scala/target/streams/_global/_global/csrLogger/_global/streams/out
2024/scala/target/streams/_global/_global/dumpStructure/_global/streams/out
2024/scala/target/streams/_global/csrConfiguration/_global/streams/out
2024/scala/target/streams/_global/csrProject/_global/streams/out
2024/scala/target/streams/_global/dependencyPositions/_global/streams/update_cache_3/input_dsp
2024/scala/target/streams/_global/dependencyPositions/_global/streams/update_cache_3/output_dsp
2024/scala/target/streams/_global/ivyConfiguration/_global/streams/out
2024/scala/target/streams/_global/ivySbt/_global/streams/out
2024/scala/target/streams/_global/moduleSettings/_global/streams/out
2024/scala/target/streams/_global/projectDescriptors/_global/streams/out
2024/scala/target/streams/_global/update/_global/streams/out
2024/scala/target/streams/_global/updateClassifiers/_global/streams/out
2024/scala/target/streams/_global/updateClassifiers/_global/streams/update_cache_3/inputs
2024/scala/target/streams/_global/updateClassifiers/_global/streams/update_cache_3/output
2024/scala/target/streams/_global/updateSbtClassifiers/_global/streams/out
2024/scala/target/streams/compile/externalDependencyClasspath/_global/streams/export
2024/scala/target/streams/compile/managedClasspath/_global/streams/export
2024/scala/target/streams/compile/scalacOptions/_global/streams/out
2024/scala/target/streams/compile/unmanagedClasspath/_global/streams/export
2024/scala/target/streams/compile/unmanagedClasspath/_global/streams/out
2024/scala/target/streams/compile/unmanagedJars/_global/streams/export
2024/scala/target/streams/runtime/externalDependencyClasspath/_global/streams/export
2024/scala/target/streams/runtime/managedClasspath/_global/streams/export
2024/scala/target/streams/runtime/unmanagedClasspath/_global/streams/export
2024/scala/target/streams/runtime/unmanagedClasspath/_global/streams/out
2024/scala/target/streams/runtime/unmanagedJars/_global/streams/export
2024/scala/target/streams/test/externalDependencyClasspath/_global/streams/export
2024/scala/target/streams/test/managedClasspath/_global/streams/export
2024/scala/target/streams/test/unmanagedClasspath/_global/streams/export
2024/scala/target/streams/test/unmanagedClasspath/_global/streams/out
2024/scala/target/streams/test/unmanagedJars/_global/streams/export
