*.pyc
2015/MyMap.txt
2015/MyMap.txt
2022/t
.metals/metals.mv.db
.gitignore
.gitignore
.metals/metals.log
.metals/metals.lock.db
.gitignore
.gitignore
2022/MyMap.txt
.gitignore
2022/t.txt
sbt-launch.jar
.bsp/sbt.json
2023/.DS_Store
.gitignore
2023/input/.DS_Store
project/metals.sbt
project/project/metals.sbt
project/project/project/target/*
project/*
target/*
.metals/*
output/*
2023/output/*
2023/input/*
2022/input/*
2021/input/*
2020/input/*
2015/input/*
.bsp
.idea
scala_aoc_old
.metals
2023/scala
*.txt
2023/python/*.txt
